<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Build" data-view="Text" data-title="IIS - CI Status"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-iis-master" data-view="CircleCi" data-title="IIS (HPA)"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-iis-feature-specs-master" data-view="CircleCi" data-title="IIS Feature Specs"></div>
    </li>

    <!--<li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Health" data-view="Text" data-title="IIS - App Status"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="hpa stage" data-view="ServerStatusSquares" data-title="HPA - Stage"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="hpa prod" data-view="ServerStatusSquares" data-title="HPA - Prod"></div>
    </li>-->

  </ul>
</div>