<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Build" data-view="Text" data-title="Build Board"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-iis-master" data-view="CircleCi" data-title="IIS (HPA)"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-iis-feature-specs" data-view="CircleCi" data-title="IIS Feature Specs"></div>
    </li>

  </ul>
</div>