<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Build" data-view="Text" data-title="Build Board"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="circle-ci-noms-digital-studio-hub-content-feed" data-view="CircleCi" data-title="Hub Content Feed"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-hub-admin" data-view="CircleCi" data-title="Hub Admin"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-hub-admin-ui" data-view="CircleCi" data-title="Hub Admin UI"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-hub-smoke-tests" data-view="CircleCi" data-title="Hub Smoke Tests"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-hub-feature-specs" data-view="CircleCi" data-title="Hub Feature Specs"></div>
    </li>

  </ul>
</div>