<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [400, 400]
  Dashing.numColumns = 4
});
</script>

<% content_for :title do %>Health<% end %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="Health" data-view="Text" data-title="Health Board"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="hpa stage" data-view="ServerStatusSquares" data-title="IIS (HPA) UI - Stage"></div>
        </li>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="hpa prod" data-view="ServerStatusSquares" data-title="IIS (HPA) UI - Prod"></div>
        </li>
    </ul>
</div>