<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [350, 400]
        Dashing.numColumns = 5
    });
</script>

<% content_for(:title) { "Overview" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-iis-master" data-view="CircleCi" data-title="IIS (HPA)"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-iis-feature-specs-master" data-view="CircleCi" data-title="IIS Feature Specs"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="hpa stage" data-view="ServerStatusSquares" data-title="App Health Stage"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="hpa pre-prod" data-view="ServerStatusSquares" data-title="App Health Pre-Prod"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="hpa prod" data-view="ServerStatusSquares" data-title="App Health Prod"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ai-today-LOG_IN" data-view="Number" data-title="Logins - today"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="ai-today-SEARCH" data-view="Number" data-title="Searches - today"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ai-week-LOG_IN" data-view="Number" data-title="Logins - 7 days"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="ai-week-SEARCH" data-view="Number" data-title="Searches - 7 days"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="ai-week-VIEW" data-view="Number" data-title="Views - 7 days"></div>
    </li>

  </ul>
</div>
